* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: rgb(90, 6, 170);
    img {
        width: 90px;
        padding: 8px;
        padding-left: 690px;
    }
    p {
        display: inline;
        color: white;
        position: absolute;
        top: 18px;
    }
    span {
        font-weight: bold;
    }
}

article {
    h1, h2 {
        text-align: center;
        padding: 25px;
    }
    img {
        background-size: cover;
        width: 1583px;
    }
    p {
        text-align: justify;
        padding-left: 250px;
        line-height: 40px;
    }
    .sessao1 {
        p:last-of-type {
            background-color: rgba(137, 43, 226, 0.807);
            padding: 12px;
            margin-left: 250px;
            display: inline;
        }
    }
    .sessao2 {
        table {
            margin-left: 250px;
            margin-top: 20px;
            width: 1200px;
            margin-bottom: 20px;
            color: white;
            th {
                background-color: rgb(89, 85, 85);
                text-align: center;
                padding: 5px;
            }
            td {
                padding: 5px;
            }
            tr:nth-of-type(even) {
                background-color: rgb(90, 6, 170);
            }
            tr:nth-of-type(odd) {
                background-color: rgb(161, 107, 211);
            }
        }
    }
}

footer {
    background-color: rgb(90, 6, 170);
    text-align: center;
    color: white;
    padding: 5px;
}